<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/index.css" />

<div class="mt-2" id="cluster-map"></div>

<h1 class="text-center mb-5 mt-5">All Campgrounds</h1>
<section class="campgrounds">
	<% for(let c of campgrounds) { %>

	<div class="card mb-3 indexCard bg-dark">
		<div class="row">
			<% if(c.images[0]) { %>
			<div class="col-md-4">
				<img src="<%= c.images[0].url %>" class="img-fluid" alt="" />
			</div>
			<% } else {%>
			<div class="col-md-4">
				<img
					src="https://res.cloudinary.com/dsknqsk7x/image/upload/v1676251489/YelpCamp/ns53wjlttvartty6l2p8.png"
					class="img-fluid"
					alt="" />
			</div>
			<% } %>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title text-light"><%= c.title %></h5>
					<p class="card-text text-light"><%= c.description %></p>
					<p class="card-text text-light">
						<small class="text-muted"> <%= c.location %> </small>
					</p>
					<a class="btn btn-primary" href="/campgrounds/<%= c._id %>"
						>View <%= c.title %>
					</a>
				</div>
			</div>
		</div>
	</div>
	<% } %>
</section>

<script>
	const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
	const campgrounds = { features: <%-JSON.stringify(campgrounds) %>}
</script>

<script src="/javaScripts/clusterMap.js"></script>
